// @import "../../scss/lib/theme/vars";

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.gamepad {
  label {
    display: block;
    margin-bottom: 1vw;
    font-size: 8vw;
    font-style: italic;
  }
  button {
    width: 100%;
    font-size: 7vw;
    margin: 1vw 2vw 0 0;
  }
}
select {
  font-size: 8vw;
  width: 100%;
  border-color: green;
}
